@(title: String, projectId: Int, businessId: Int)

@projectMain("Project Budget","budget", "Project Budget", projectId, businessId) {
    <!-- Main Content -->

    <div class="content"  data-ng-controller="budgetController as controller">

@*        <delete-break-down-list></delete-break-down-list>*@

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bold text-default"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-title">$ 50,000.00</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Budget
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-money-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">$ 13,540.00</p>
                                    <p class="card-title">$ 14,300.00</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Estimate / Actual
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bank text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">$ 5,000.00</p>
                                    <p class="card-title">$ 7,000.00
                                    </p><p>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Paid / Un Paid
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-alert-circle-i text-info"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category"></p>
                                    <p class="card-title">$ 3,950.00
                                    </p><p>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Savings
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <h4 class="card-title">Breakdowns</h4>
                              <div class="mt-lg-3">
                                  <div><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createBreakDownList">ADD NEW BREAKDOWN</button></div>
                              </div>
@*                            <div class="mt-lg-3">*@
@*                                <div><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createList">ADD NEW CATEGORY</button></div>*@
@*                            </div>*@
@*                            <div class="mt-lg-3">*@
@*                                <div><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createList">ADD NEW CATEGORY</button></div>*@
@*                            </div>*@
                            <div class="mt-lg-3 card card-plain">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h7><b>Wedding Planner</b></h7>
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th class="text-center">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Estimate
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actual
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Difference
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Paid
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Due
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actions
                                                        </th>
                                                    </tr></thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            Coordination Fees
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            $ 7,000.00
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center text-danger">
                                                            <b>($1)</b>
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center">
@*                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">*@
@*                                                                <i class="nc-icon nc-time-alarm"></i>*@
@*                                                            </button>*@
@*                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Payments">*@
@*                                                                <i class="nc-icon nc-calendar-60"></i>*@
@*                                                            </button>*@
                                                            <button type="button" rel="tooltip" title="" class="btn btn-warning btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit">
                                                                <i class="nc-icon nc-ruler-pencil"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                        <!-- Totals -->
                                                    <tr>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-right">
                                                            <i class="nc-icon nc-money-coins"></i>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>$ 7,000.00</h6>
                                                        </td>
                                                        <td  class="text-left">

                                                        </td>
                                                        <td class="text-left">

                                                        </td>
                                                        <td class="text-center">

                                                        </td>
                                                        <td class="text-center">

                                                        </td>
                                                        <td class="text-center">
                                                            - -
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default btn-round btn-icon btn-icon-mini btn-neutral" rel="tooltip" data-toggle="modal" data-target="#newTask" data-original-title="New Item">
                                                <i class="nc-icon nc-simple-add"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}