@(message: String, businessId: Int)

@main("Well Planner", "customers", "Clients", businessId) {
    <!-- New Project Modal -->
    <div class="content" data-ng-controller="clientsController as controller" data-ng-init="controller.getAllClients(@businessId)">

        <!-- Edit Client Modal -->
        <data-edit-client-modal data-clients="controller.clients" data-current-client="controller.currentClient" data-business-id=@businessId></data-edit-client-modal>

        <!-- New Project Modal -->
        <data-new-project-modal data-projects="controller.projects" data-client-id="controller.currentClientId" data-clients="controller.clients" data-business-id=@businessId></data-new-project-modal>

        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-toggle="modal" data-id="@businessId" data-target="#newCustomer" data-ng-click="controller.newItem()">New Client</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Phone Number</th>
                                    <th class="text-center">Email Address</th>
                                    <th class="text-center">Budget</th>
                                    <th class="text-center">Event Date</th>
                                    <th class="text-center">Status</th>
@*                                    <th class="text-center">Notes</th>*@
                                    <th class="text-center">Project</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="controller.showNewItem">
                                    <th class="text-center">
@*                                        <div class="form-check">*@
@*                                            <label class="form-check-label">*@
@*                                                <input class="form-check-input" type="checkbox" checked="">*@
@*                                                <span class="form-check-sign"></span>*@
@*                                            </label>*@
@*                                        </div>*@
                                    </th>
                                    <td class="text-center">
                                        <input type="text" style="text-align:center;" class="form-control" data-ng-model="controller.formData.customerName">
                                    </td>
                                    <td class="text-center">
                                        <phonenumber-directive model='controller.formData.phoneNumber'></phonenumber-directive>
                                    </td>
                                    <td class="text-center">
                                        <input type="email" style="text-align:center;" class="form-control" data-ng-model="controller.formData.emailAddress">
                                    </td>
                                    <td class="text-center">
                                        <input type="text" style="text-align:center;" class="form-control" data-ng-model="controller.formData.budget" data-input-currency>
                                    </td>
                                    <td class="text-center">
                                        <input id="event_date"  size="30" class="form-control" ng-model="controller.formData.eventDate" ng-model-options="{ updateOn: 'blur' }"  moment-picker="controller.formData.eventDate" format="YYYY-MM-DD" start-view="year">
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control" data-ng-model="controller.formData.status" ng-options= "item.type for item in controller.clientStatuses"></select>
                                    </td>
                                    <td class="td-actions text-center">
                                    </td>
                                    <td class="td-actions text-center">
                                        <button class="btn btn-success" data-ng-click="controller.saveItem(@businessId)">
                                            <span class="btn-label">
                                                <i class="nc-icon nc-check-2"></i>
                                            </span>
                                        </button>
                                        <button class="btn btn-danger" data-ng-click="controller.cancelItem()">
                                            <i class="nc-icon nc-scissors"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr data-ng-repeat="client in controller.clients">
                                    <th class="text-center">
@*                                        <div class="form-check">*@
@*                                            <label class="form-check-label">*@
@*                                                <input class="form-check-input" type="checkbox" checked="">*@
@*                                                <span class="form-check-sign"></span>*@
@*                                            </label>*@
@*                                        </div>*@
                                    </th>
                                    <td class="text-center">{{client[0].name}}</td>
                                    <td class="text-center">{{client[0].phone_number | phonenumber}}</td>
                                    <td class="text-center">{{client[0].email}}</td>
                                    <td class="text-center">{{client[0].budget | currency}}</td>
                                    <td class="text-center">{{client[0].event_date_display}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-round">{{client[0].status}}</button>
                                    </td>
@*                                    <td class="td-actions text-center">*@
@*                                        <button type="button" rel="tooltip" class="btn btn-outline-default" data-original-title="Add Notes">*@
@*                                            <i class="nc-icon nc-paper"></i>*@
@*                                        </button>*@
@*                                    </td>*@
                                    <td class="text-center">
                                        <a data-ng-if="client[1] != null" href="/pages/{{client[0].business_id}}/projects/{{client[1]}}/overview-dashboard" class="btn btn-outline-warning btn-round">
                                        <i class="fa fa-heart"></i> View Project
                                    </a>
                                        <button data-ng-if="client[1] === null" type="button" rel="tooltip" data-original-title="Create New Project" class="btn btn-outline-default"  data-toggle="modal" data-target="#newProject" data-ng-click="controller.setCurrentClient(client[0].id)">START</button></td>
                                    <td class="td-actions text-center">
                                        <button class="btn btn-warning" rel="tooltip" data-original-title="Edit" data-toggle="modal" data-target="#editClient" data-ng-click="controller.updateClient(client[0])">
                                            <span class="btn-label">
                                                <i class="nc-icon nc-ruler-pencil"></i>
                                            </span>
                                        </button>
                                        <button data-ng-if="client[1] === null" class="btn btn-danger" rel="tooltip" data-original-title="Remove" data-ng-click="controller.removeClient(@businessId, client[0].id)" >
                                            <i class="nc-icon nc-scissors"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}