@(message: String, businessId: Int)

@main("Well Planner", "projects", "Projects", businessId) {
    <!-- New Project Modal -->
    <div class="modal fade" id="newProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-new-project-modal data-business-id=1></div>

    <div class="content" data-ng-controller="projectsController as controller">
        <div class="row">
            <div class="col-lg-4 mt-lg-5">
                <div class="card text-center" style="width: 25rem;">
                    <div class="card-header card-header-primary">
                        Wedding
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Rikita & Zack</h4>
                        <p class="card-text"><i class="nc-icon nc-spaceship"></i>  Nov 25th 2020</p>
                        <a href="/pages/tasks" class="btn btn-outline-warning btn-round">
                            <i class="fa fa-heart"></i> Enter
                        </a>
                    </div>
                    <div class="card-footer text-muted">
                        created 2 days ago
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-5">
                <div class="card card-plain text-center" style="width: 25rem;">
                    <div class="card-body">
                        <h4 class="card-title">Create Project</h4>
                        <button class="btn btn-lg btn-warning"  data-toggle="modal" data-target="#newProject">
                            <i class="nc-icon nc-simple-add"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}